@import url('https://fonts.googleapis.com/css2?family=Margarine&family=Dancing+Script:wght@400..700&family=Playwrite+AU+NSW:wght@100..400&display=swap');
@import "tailwindcss";



body.dark {
  background-color: #1a1a1a;
  color: #f0f0f0;
}

body.light {
  background-color: #f0f2f5;
  color: #333;
}


.margarine-regular {
  font-family: "Margarine", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.playwrite-au-nsw-text {
  font-family: "Playwrite AU NSW", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.dancing-script-topic {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.links{
  color: white;
  transition: all 0.3s ease-in-out;
}

.links:hover{
  color: rgb(3,253,152);
}
.green{
  color: rgb(3,253,152);
}

.line{
  display: none;
  height: 2px;
  width: fit-content;
  background-color: rgb(3,253,152);
  transition: all 0.4s ease-in-out;
}
.line:hover{
  display: block;
}

.links:hover span {
  width: 100%;
}